[Logging]
noise_limit=10000
use_screenlog=True
use_sqlite=True

[Twitter]
use_twitter=False
noise_limit=10000
username=
password=

[SMS]
use_sms=False
noise_limit=15000
username=
password=
to=
from=


[Record]
use_recording=True
noise_limit=5000
record_time=5

